<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
	rel="stylesheet">
<link href="../../css/estilos.css" rel="stylesheet" type="text/css" />
<!-- <link href="../../css/miLogin.css" rel="stylesheet" type="text/css" /> -->

<link rel="stylesheet"
	href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">

<title>Editar Cursos</title>

</head>

<body>
	<div class="container-full">
		<form class="container-form" action="#" th:action="@{/cursos/guardar}"
			th:object="${cursos}" method="post">
			<div>
				<h1>Editar Cursos videos</h1>
			</div>
			<br />
			<div class="container-input">
				<input class="input-text" type="text" th:field="*{idCursos}"
					readonly="readonly" hidden />

				<div class="nom-cat">
					<fieldset class="form-fieldset">
						<legend>Nombre</legend>
						<input class="input-text" type="text" th:field="*{nomCurso}"
							maxlength="100" required />
					</fieldset>

					<fieldset class="form-fieldset">
						<legend>Categoria</legend>
						<Select th:field="*{categoria}" class="select-form" required>
							<option th:each="categoria:${lstCategoria}"
								th:value="${categoria.idCategoria}"
								th:text="${categoria.nomCategoria}"></option>

						</select>
					</fieldset>
				</div>

				<div class="descrip">
					<fieldset class="form-fieldset">
						<legend>Descripcion</legend>
						<textarea class="input-text-area" type="text"
							th:field="*{descripCurso}" cols="40" rows="5" maxlength="200"
							size="200" required /></textarea>
					</fieldset>
				</div>

				<div class="pre-dura">
					<fieldset class="form-fieldset">
						<legend>Precio</legend>
						<input class="input-text" type="text" th:field="*{precio}"
							required />
					</fieldset>

					<fieldset class="form-fieldset">
						<legend>Duracion</legend>
						<input class="input-text" type="text" th:field="*{duraCurso}"
							maxlength="50" required />
					</fieldset>
				</div>

				<button class="btn-save" type="submit">Guardar</button>
			</div>
		</form>



		<button class="btn-return">
			<a th:href="@{/cursos/listarCursos}">Regresar al listado</a>
		</button>

	</div>


</body>

</html>