<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap"
	rel="stylesheet">
<link href="../../css/estilos.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">


<title>Editar Categoria</title>
<style type="text/css">
body{
font-family: 'Josefin Sans', sans-serif;
}
input,#titulo{
text-align:center;
}
</style>
</head>
<body>
	<div class="container-full">
	<form action="#" th:action="@{/categorias/guardar}" th:object="${categoria}" method="post">
		<div>
		<h1 id="titulo">Editar Categoria</h1>
		</div>
		<br />
			<div class="container-input">
				
				
				<div class="id-cat">
					<fieldset class="form-fieldset">
						<legend>ID</legend>
						<input class="input-text" type="text" th:field="*{idCategoria}"
					readonly="readonly"/>
				
					</fieldset>

				</div>
				
				<div class="nombre">
					<fieldset class="form-fieldset">
						<legend>Nombre</legend>
						<textarea class="input-text-area" type="text"
							th:field="*{nomCategoria}" cols="40" rows="5" maxlength="200"
							size="200" required /></textarea>
					</fieldset>
				</div>
				
				<button class="btn-save" type="submit">Guardar</button>
			</div>
			
	</form>
		
		<button class="btn-return">
		<a th:href="@{/categorias/listarCategoria}" style="text-decoration: none; color: white; text-align: star;">Regresar al listado</a> <br />
		</button>
		
	
	</div>
</body>
</html>