


.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #0ff;
}

li.nav-item {
	list-style: none;
}

li.nav-item.active .nav-link.disabled {
	color: #0ff;
}

.form-inline .nav-item a {
	cursor: pointer;
	color: #fff;
}

.form-inline .nav-item a:hover {
	color: #0ff;
}

.form-inline .dropdown .dropdown-menu a {
	background-color: transparent;
	color: #fff;
}

.form-inline .dropdown .dropdown-menu a:hover {
	color: #0ff;
}

/* ul .topnav { */
/*   margin-left: auto; */
/* } */
.topnav a {
	text-decoration: none;
	font-size: 17px;
	border-bottom: 3px solid transparent;
}

.topnav a:hover {
	border-bottom: 3px solid #0ff;
}

.topnav a.active {
	border-bottom: 3px solid #0ff;
}

.table td, .table th {
	vertical-align: middle;
}

.table tr:hover td {
	color: #0ff;
}

.page-item.active .page-link {
	background-color: #343A40;
	border-color: #343A40;
	color: #0ff;
}

.page-item .page-link {
	color: #343A40;
}

.navbar {
	background: linear-gradient(217deg, rgba(0, 0, 0, .9), #343A40 70.71%);
}

.navbar-toggler, .navbar-brand img {
	filter: invert(100%);
}

.contCard {
/* 	background-color: #0ff; */
/* 	display: grid; */
/* 	grid-template-columns: auto auto auto; */
	gap: 20px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.card{
/* 	background-color: rgba(117, 189, 67, .7); */
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
	border-radius: 20px;
	justify-content: center;
	
}


@media ( max-width : 1000px) {
	.contCard {
		display: grid;
		grid-template-columns: auto auto;
		gap: 20px;
		width: 100%;
	}
}
@media(max-width: 768px){
	
/* 	.collapse.navbar-collapse { */
/* 		display: flex; */
/* 		flex-direction: column; */
/* 		width: 100%; */
/* 		text-align: center; */
/* 		justify-content: center; */
/* 		align-items: center; */
/* 	} */
	
	.topnav{
		margin-left: auto;
		margin-right: auto;
	}
	.topnav a{
		border-bottom: none;
	}
	.topnav a:hover{
		border-bottom: none;
	}
	
}

@media ( max-width : 700px) {
	.contCard {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
		width: 100%;
	}
}