@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
:root{
	/* Colores */
	--body: #AADBB7;
	--amarillo: #FDCA6A;
	--marron: #6F5D4B;
	--rojo: #DD3747;
	--negro: #404041;
	--gris: grey;
	--shadgris: #343a40;
	--shadamarillo: #F8A242;
	/* --verde: #75bd43; */
	--verde: #359c56;
	--font: 'Josefin Sans', sans-serif;
}

body{
	background-color: var(--body);
	font-family: var(--font);
}
h1 {
	text-align: end;
	font-weight: bold;
}

/* INICIO NAVBAR */
.navbar{
    /* background: linear-gradient(217deg, rgba(0, 0, 0, .9), #343A40 70.71%); */
	background-color: var(--negro);
	box-shadow: 0px 5px 3px rgba(0, 0, 0, .3);
}
.navbar-light .navbar-nav .nav-link {
	color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--amarillo);
	cursor: pointer;
}


li.nav-item {
	list-style: none;
}

li.nav-item.active .nav-link.disabled {
	color: var(--body);
}
/* .topnav { */
/*   overflow: hidden; */
/* } */
.topnav a {
	text-decoration: none;
	font-size: 17px;
	/* border-bottom: 3px solid transparent; */
}

/* .topnav a:hover {
	
	
} */

.topnav a.active {
	border-bottom: 3px solid var(--body);
}

.navbar-toggler, .navbar-brand img {
	filter: invert(100%);
}
.form-inline .nav-item a {
	cursor: pointer;
	color: #fff;
}

.form-inline .nav-item a:hover {
	color: var(--body);
}

.form-inline .dropdown .dropdown-menu a {
	background-color: transparent;
	color: var(--body)
}

.form-inline .dropdown .dropdown-menu a:hover {
	color: var(--body);
}
.btn-inisesion{
	background-color: var(--amarillo);
	box-shadow: 2px 3px var(--shadgris);
}
.btn-registrar{
	background-color: var(--gris);
	box-shadow: 2px 3px var(--shadgris);
}


.table td, .table th {
	vertical-align: middle;
}

.table tr:hover td {
	color: var(--negro);
}

.page-item.active .page-link {
	background-color: var(--gris);
	border-color: var(--negro);
	color: var(--negro);
}

.page-item .page-link {
	color: #343A40;
}



/* FIN NAVBAR */


/* CONTAINER */
.container{
	padding-top: 4rem;
	max-width: 1200px;
}

.btn-new{
	background-color: var(--marron);
	box-shadow: 2px 3px var(--shadgris);
}
.btn-new a{
	color: #fff;
	text-decoration: none;
	outline: none;
}

/* INICIO CARDS */
.contCard {
	/* 	background-color: #0ff; */
	/* 	display: grid; */
	/* 	grid-template-columns: auto auto auto; */
		gap: 20px;
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}
.card{
	display: flex;
	background-color: var(--amarillo);
	border-radius: 20px;
	border: 2px solid var(--negro);
	box-shadow: 2px 3px var(--shadgris);
	width: 300px;
	height: 300px;
}
.card-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.card-contenido{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	
}
.card-body h4,
.card-contenido p{
	z-index: 10;
	color: #fff;
}
.btn-vercurso{
	background-color: var(--shadamarillo);
	outline: none;
	border: 0px solid var(--negro);
	box-shadow: 2px 3px var(--shadgris);
}
.botones-card{
	display: flex;
	width: 100%;	
	justify-content: space-between;
	align-items: center;
}
.btn-acciones{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	
}
.badge{
	display: flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	align-items: center;
	border: 0px solid var(--negro);
	font-size: 1.2rem;
	box-shadow: 2px 3px var(--shadgris);
	cursor: pointer;
}
.badge a{
	color: #fff;
	text-decoration: none;
	outline: none;
}
.btn-editar{
	background-color: var(--gris);
}
.btn-eliminar{
	background-color: var(--rojo);
}

.img-card{
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 150px;
	top: 0;
	border-radius: 20px 20px 0 0;
	filter: contrast(50%);
}

/* FIN CARDS */
@media ( max-width : 900px) {
	.contCard {
		display: grid;
		grid-template-columns: auto auto;
		gap: 20px;
		width: 100%;
	}
}

@media ( max-width : 768px) {
	.contCard {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
		width: 100%;
	}
}