@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
:root{
	/* Colores */
	--body: #AADBB7;
	--amarillo: #FDCA6A;
	--marron: #6F5D4B;
	--rojo: #DD3747;
	--negro: #404041;
	--gris: grey;
	--shadgris: #343a40;
	--shadamarillo: #F8A242;
	--blanco: #fff;
	/* --verde: #75bd43; */
	--verde: #359c56;
	--font: 'Josefin Sans', sans-serif;
}

body{
	background-color: var(--body);
	font-family: var(--font);
}
h1 {
	text-align: end;
	font-weight: bold;
}

/* INICIO NAVBAR */
.navbar {
	height: 70px;
	background-color: rgba(0, 0, 0, 0);
	background: rgba(0, 0, 0, 0);
	border: none;
/* 	color: var(--negro); */
	z-index: 100;
	margin-bottom: 0;
	border-radius: 0;
	padding: 5px 5px;
	transition: background-color 1s ease 0s;
  }

  .navbar-brand {
	/* display: none; */
/* 	opacity: 0; */
	/* visibility: hidden; */
	margin: 0px;
	color: var(--blanco);
	font-weight: 400;
	display: flex;
	width: 50px;
	justify-content: center;
	
  }
  .navbar-brand a{
  	text-align: center;
  }
  
  .navbar-expand-md .navbar-nav  li  a {
	color: var(--negro);
	font-weight: 500;
	font-size: 1em;
	text-transform: uppercase;
	text-align: center;
	margin: 10px 5px 5px 5px;
	border-radius: 5px;
	cursor: pointer;
  }
  .navbar-expand-md .navbar-nav > li > a:hover,
  .navbar-expand-md .navbar-nav > li > a:active,
  .navbar-expand-md .navbar-nav > li > a:focus {
	  text-align: center;
	color: var(--blanco);
	background-color: rgba(0, 0, 0, .3);
	/* border: 1px solid #f0f0e6; */
  }
  .navbar-expand-md .navbar-nav > li > a:visited {
	text-decoration: none;
  }
  .navbar-expand-md .navbar-nav > .active > a,
  .navbar-expand-md .navbar-nav > .active > a:hover,
  .navbar-expand-md .navbar-nav > .active > a:focus {
	/* background-color: transparent; */
	color: var(--blanco);
  }
  .navbar-expand-md .navbar-toggler {
	  color: var(--blanco);
	border-color: var(--blanco);
  }
  .navbar-expand-md .navbar-toggler:hover,
  .navbar-expand-md .navbar-toggler:focus {
	background-color: var(--gris);
	color: var(--blanco);
	
  }
  .navbar-expand-md .navbar-toggler .navbar-toggler-icon {
	color: var(--blanco);
	/* background-color: #f0f0e6; */
}
.navbar-expand-md .navbar-collapse.collapse{
	color: var(--negro);
/* 	background-color: #f0f0e6;  */
/* 	filter: blur(20px) */
}

.navbar .nav-item .nav-link{
	margin: 0;
	color: var(--negro);
}
.navbar.solid .navbar-toggler .navbar-toggler-icon{
	  filter: invert();

  }
  /* Solid class attached on scroll past first section */
  .navbar.solid {
	background-color: var(--negro);
	box-shadow: 0px 5px 3px rgba(0, 0, 0, .3);
	transition: background-color 1s ease 0s;
	/* transition: box-shadow 4s; */
  }
  .navbar.solid .navbar-brand {
	/* display: inline-block; */
	opacity: 1;
	color: var(--blanco);
	transition: color 1s ease 0s;
  }
  .navbar.solid .navbar-brand img{
  	filter: invert();
  	transition: filter 1s ease 0s;
  }
  .navbar.solid .navbar-nav > li > a {
	color: var(--blanco);
	transition: color 1s ease 0s;
  }
  li.nav-item {
	list-style: none;
}
.navbar li a{
	text-decoration: none;
	color: var(--negro);
}
.navbar.solid li a{
	text-decoration: none;
	color: var(--blanco);
	transition: color 1s ease 0s;
}
.form-inline{
	display: flex;
	justify-content: center;
}
.navbar.solid .form-inline .nav-item a {
	color: var(--blanco);
	transition: color 1s ease 0s;
}
.form-inline .nav-item a {
	cursor: pointer;
	text-align: center;
	color: var(--negro);
}
.form-inline .nav-item a:hover {
	color: var(--blanco);
}
.navbar.solid .form-inline .nav-item a:hover {
	color: var(--amarillo);
}
.form-inline .dropdown .dropdown-menu a {
	/* background-color: transparent; */
	background: var(--gris);
	border-radius: 20px;
	width: 100px;
	color: var(--negro);
}
.form-inline .dropdown .dropdown-menu.show a.dropdown-item{
	padding: 4px 10px;
}
.form-inline .dropdown .dropdown-menu-right.dropdown-menu.show{
	background: none;
	display: flex;
	width: 100px;
	justify-content: flex-end;

}

.form-inline .dropdown .dropdown-menu.show{
	margin-top: -5px;
	background-color: transparent;
	border: none;
}

.form-inline .dropdown .dropdown-menu a:hover {
	color: var(--blanco);
}
.btn-inisesion{
	background-color: var(--amarillo);
	box-shadow: 2px 3px var(--shadgris);
}
.btn-registrar{
	background-color: var(--gris);
	box-shadow: 2px 3px var(--shadgris);
}


.table td, .table th {
	vertical-align: middle;
}

.table tr:hover td {
	color: var(--negro);
}

.page-item.active .page-link {
	background-color: var(--gris);
	border-color: var(--negro);
	color: var(--negro);
}

.page-item .page-link {
	color: #343A40;
}



/* FIN NAVBAR */


/* CONTAINER */
.container{
	padding-top: 4rem;
	max-width: 1200px;
}

.btn-new{
	background-color: var(--marron);
	box-shadow: 2px 3px var(--shadgris);
}
.btn-new a{
	color: #fff;
	text-decoration: none;
	outline: none;
}

/* INICIO CARDS */
.contCard {
	/* 	background-color: #0ff; */
	/* 	display: grid; */
	/* 	grid-template-columns: auto auto auto; */
		gap: 20px;
		max-width: 1200px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
	}
.card{
	display: flex;
	background-color: var(--amarillo);
	border-radius: 20px;
	border: 2px solid var(--negro);
	box-shadow: 2px 3px var(--shadgris);
	width: 300px;
	height: 300px;
}
.card-body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.card-contenido{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	
}
.card-body h4,
.card-contenido p{
	z-index: 10;
	color: #fff;
}
.btn-vercurso{
	background-color: var(--shadamarillo);
	outline: none;
	border: 0px solid var(--negro);
	box-shadow: 2px 3px var(--shadgris);
}
.botones-card{
	display: flex;
	width: 100%;	
	justify-content: space-between;
	align-items: center;
}
.btn-acciones{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	
}
.badge{
	display: flex;
	width: 35px;
	height: 35px;
	justify-content: center;
	align-items: center;
	border: 0px solid var(--negro);
	font-size: 1.2rem;
	box-shadow: 2px 3px var(--shadgris);
	cursor: pointer;
}
.badge a{
	color: #fff;
	text-decoration: none;
	outline: none;
}
.btn-editar{
	background-color: var(--gris);
}
.btn-eliminar{
	background-color: var(--rojo);
}

.img-card{
	position: absolute;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 150px;
	top: 0;
	border-radius: 20px 20px 0 0;
	filter: contrast(50%);
}

/* FIN CARDS */
@media ( max-width : 900px) {
	.contCard {
		display: grid;
		grid-template-columns: auto auto;
		gap: 20px;
		width: 100%;
	}
}

@media ( max-width : 768px) {
	.navbar-expand-md .navbar-collapse.collapse{
		margin-top: 15px;
		transition: 1s ease-out;
		/* background-color: var(--negro); */
	}
	.contCard {
		display: grid;
		grid-template-columns: auto;
		gap: 20px;
		width: 100%;
	}
}