

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
:root{
	/* Colores */
	--body: #AADBB7;
	--amarillo: #FDCA6A;
	--marron: #6F5D4B;
	--rojo: #DD3747;
	--negro: #404041;
	--gris: grey;
	--shadgris: #343a40;
	--shadamarillo: #F8A242;
	/* --verde: #75bd43; */
	--verde: #359c56;
	--font: 'Josefin Sans', sans-serif;
}
* {
	margin: 0;
	padding: 0;
}
body{
    background-color: var(--body);
	font-family: var(--font);
	min-height: 100vh;

}
.formLogin{
    width: 100%;
}
.formLogin input{
    color: #fff;
}
.containerl{
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.containerLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--marron);
    border: 3px solid var(--negro);
    border-radius: 20px;
    padding: 20px;
    width: 350px;
    color: #fff;
}

.username,
.password{
    background: none;
    width: 100%;
    height: 50px;
    padding: 0 0 0 20px;
    outline: none;
    border: 0;
    border-bottom: 5px solid var(--gris);
    border-radius: 20px;
    font-size: 18px;
}
.password::placeholder,
.username::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
.username:active,
.username:focus,
.password:active,
.password:focus
{
    background: none;
    border-color: var(--negro);
    transition: .5s ease;
    transition-delay: .2s;
}
.btn-login{
    margin-top: 15px;
    background-color: var(--amarillo);
    /* box-shadow: 0px 3px  var(--shadamarillo); */
    border-radius: 20px;
    width: 100%;
    font-size: 18px;
    border: 0;
    outline: none;
}
.btn-login:hover{
background-color: #F8A242;
}
.btn-login:focus{
	outline: none;
  	box-shadow: none;
}






#avatar {
	width: 210px;
	height: 210px;
}
